In [4]:
!ls

example.txt  Untitled.ipynb

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('../Data/train.csv')

In [15]:
df.head()

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [16]:
df = df.drop('Id', axis=1)

In [17]:
y = df['y']

In [18]:
X = df.drop('y', axis=1)

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

(8000,)

In [20]:
from sklearn.linear_model import LinearRegression

In [39]:
reg = LinearRegression().fit(X_train, y_train)

In [42]:
from sklearn.metrics import mean_squared_error

y_pred = reg.predict(X_test)


RMSE = mean_squared_error(y_test, y_pred)**0.5

In [43]:
RMSE

2.8327722125966844e-13

In [24]:
test = pd.read_csv('../Data/test.csv')

In [29]:
test = test.drop('Id', axis=1)

In [30]:
y_pred = reg.predict(test)

In [32]:
from sklearn.metrics import mean_squared_error
RMSE = mean_squared_error(y, y_pred)**0.5

ValueError: Found input variables with inconsistent numbers of samples: [10000, 2000]