In [4]:
!ls

example.txt  Untitled.ipynb

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('../Data/train.csv')

In [90]:
df.shape

(10000, 11)

In [15]:
df.head()

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [16]:
df = df.drop('Id', axis=1)

In [17]:
y = df['y']

In [18]:
X = df.drop('y', axis=1)

In [72]:



from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
reg = LinearRegression().fit(X_train, y_train)

In [75]:
from sklearn.metrics import mean_squared_error

y_pred = reg.predict(X_test)


RMSE = mean_squared_error(y_test, y_pred)**0.5

In [76]:
RMSE

2.195189675678025e-13

In [77]:
test = pd.read_csv('../Data/test.csv')

In [78]:
Ids = test['Id']

In [79]:
test = test.drop('Id', axis=1)

In [80]:
test = test.drop('Id', axis=1)

KeyError: "['Id'] not found in axis"

In [81]:
y_pred = reg.predict(test)

In [82]:
resultsDict = dict()

In [83]:
resultsDict['Id'] = Ids

In [84]:
resultsDict['y'] = y_pred

In [85]:
resultsDict

{'Id': 0       10000
 1       10001
 2       10002
 3       10003
 4       10004
 5       10005
 6       10006
 7       10007
 8       10008
 9       10009
 10      10010
 11      10011
 12      10012
 13      10013
 14      10014
 15      10015
 16      10016
 17      10017
 18      10018
 19      10019
 20      10020
 21      10021
 22      10022
 23      10023
 24      10024
 25      10025
 26      10026
 27      10027
 28      10028
 29      10029
         ...
 1970    11970
 1971    11971
 1972    11972
 1973    11973
 1974    11974
 1975    11975
 1976    11976
 1977    11977
 1978    11978
 1979    11979
 1980    11980
 1981    11981
 1982    11982
 1983    11983
 1984    11984
 1985    11985
 1986    11986
 1987    11987
 1988    11988
 1989    11989
 1990    11990
 1991    11991
 1992    11992
 1993    11993
 1994    11994
 1995    11995
 1996    11996
 1997    11997
 1998    11998
 1999    11999
 Name: Id, Length: 2000, dtype: int64,
 'y': array([ -66.00242349,  451.4065044 , -461.67641706, ...,  -35.13540942,
        -131.67918453,  417.26915462])}

In [86]:
resultsDf = pd.DataFrame(resultsDict)

In [87]:
resultsDf.head()

      Id           y
0  10000  -66.002423
1  10001  451.406504
2  10002 -461.676417
3  10003   40.501209
4  10004 -126.744722

In [88]:
resultsDf.to_csv('results.csv', index=False)

In [89]:
!pwd

/home/paperspace/fastai/courses/personal/IntroML/ML/Task0/lvk